<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de Mensajería</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/gmail">Gmail</a></li>
                <li><a href="/whatsapp">WhatsApp</a></li>
                <li><a href="/login">Registrarse con Gmail</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>¿Con quién quieres trabajar?</h1>
        <img src="static/waifu.png" alt="Waifu" class="image-waifu">

        <div class="option-buttons">
            <a href="/gmail" class="btn-option gmail-btn">
                <img src="static/gm.png" alt="Gmail" class="icon"> Gmail
            </a>
            <a href="/whatsapp" class="btn-option whatsapp-btn">
                <img src="static/wp.png" alt="WhatsApp" class="icon"> WhatsApp
            </a>
            <a href="/login" class="btn-option register-btn">
                <img src="static/gm.png" alt="Gmail" class="icon"> Registrarse con Gmail
            </a>
        </div>
    </div>
</body>
</html>
