<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticación Exitosa</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/gmail">Gmail</a></li>
                <li><a href="/whatsapp">WhatsApp</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Inicio de Sesión Exitoso</h1>
        <p>Ahora puedes regresar a la página principal y enviar correos.</p>
        <a href="/" class="btn-back">Regresar a la página principal</a>
    </div>
</body>
</html>
